# Ignorar entorno virtual
.venv/

# Ignorar datos y modelos grandes
data/
src/models/
*.safetensors

# Ignorar archivos temporales
__pycache__/
*.pyc

.idea/
src/create_butterfly_dataset.py

/scripts/
